{% extends 'base.html.twig' %}

{% block page_title %}Supprimer le produit{% endblock %}

{% block body %}
<form style="margin:20px" method="post">
    <button> Supprimer </button>
    <a href="/{{id}}"> Produit </a>
</form>

{% endblock %}
